* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

body {
  background-color: var(--grey-light);
  color: var(--black-graphite);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

@media (max-width: 900px) {
  .case-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 600px) {
  .case-grid {
    grid-template-columns: 1fr !important;
  }

  .case-studies-page,
  .case-detail {
    padding: 3rem 1.2rem;
  }
}
