:root {
  --blue-primary: #0a6fb5;
  --blue-deep: #084c8d;

  --black-graphite: #1e1e1e;
  --grey-steel: #6e6e6e;
  --grey-light: #f2f4f6;
  --silver-accent: #bfc5cc;

  --font-main: "Inter", sans-serif;
}
